.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
}

.point {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  background-color: #db3535;
  border-radius: 50%;
  opacity: 0.8;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;

  &::after,
  &::before {
    --angle: 0rad;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: conic-gradient(from var(--angle), transparent, #db3535);
    border: 1px solid #db3535;
    z-index: -1;
  }

  &::before {
    animation: wave 1.7s infinite, rotate 1.7s infinite;
  }

  &::after {
    animation: wave2 1.7s 0.2s infinite, rotate 1.7s 0.2s infinite;
  }
}

@keyframes wave {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes wave2 {
  to {
    transform: scale(3.8);
    opacity: 0;
  }
}

@keyframes rotate {
  to {
    --angle: 6.26rad;
  }
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0rad;
}
