* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

$width: 400px;
$height: 230px;
$duration: 400ms;

.sticker {
  position: relative;
  width: $width;
  height: $height;
  background-color: #919191;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.15);
  // overflow: hidden;

  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    p {
      font-size: 20px;
    }
  }
}

.sticker-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 461.4108px;
  height: 461.4108px;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(-30deg);
}

.sticker-clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // border: 1px solid red;
  overflow: hidden;
  transition: all $duration ease-in-out;

  .front {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $width;
    height: $height;
    transform: translate(-50%, -50%) rotate(30deg);
    .front-inner {
      width: 100%;
      height: 100%;
      background-color: yellowgreen;
      transition: all $duration ease-in-out;
    }
  }

  .back {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $width;
    height: $height;
    transform: translate(-50%, -50%) rotate(30deg);
    .back-inner {
      width: 100%;
      height: 100%;
      background-color: yellowgreen;
      filter: brightness(0.6);
      transform-origin: 100% 0;
      transform: rotate(90deg) translate(0, -100%);
      transition: all $duration ease-in-out;
    }
  }
}

.sticker:hover,
.sticker.hover {
  .sticker-clip {
    transform: translate(-302px, -88px);
  }
  .front {
    .front-inner {
      transform: translate(303px, -75px);
    }
  }
  .back {
    .back-inner {
      transform: rotate(90deg) translate(75%, -81%);
    }
  }
}
